<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="falcosc.locus.addon.tasker">


    <!-- Although many of these default to true, some users with modified ROMs have
        trouble seeing apps unless these attributes are explicitly set. -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="net.dinglisch.android.tasker.PERMISSION_RUN_TASKS" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AlertDialogTheme"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">


        <!-- main activity contains an app description to tell why Locus Map sees this app -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- set Track for calculate remaining elevation http://help.locusmap.eu/topic/elevation-to-target -->
        <activity android:name=".LocusSetActiveTrack" />
        <activity-alias
            android:name="LocusSetActiveTrack"
            android:targetActivity=".LocusSetActiveTrack"
            android:label="Set to active"
            android:icon="@mipmap/ic_tasker"
            android:theme="@android:style/Theme.NoDisplay"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="locus.api.android.INTENT_ITEM_TRACK_TOOLS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <!-- run Tasker Task -->
        <activity
            android:name=".LocusRunTaskerActivity"
            android:label="Run task"
            android:icon="@mipmap/ic_tasker"
            android:theme="@style/AlertDialogTheme">
            <!-- thanks to this, app appear in list of available locations -->
            <intent-filter>
                <action android:name="locus.api.android.INTENT_ITEM_GET_LOCATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- thanks to this, app appear in sub-menu of every point -->
            <intent-filter>
                <action android:name="locus.api.android.INTENT_ITEM_POINT_TOOLS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- thanks to this, app appear in sub-menu of every track -->
            <intent-filter>
                <action android:name="locus.api.android.INTENT_ITEM_TRACK_TOOLS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- thanks to this, app appear in function list -->
            <intent-filter>
                <action android:name="locus.api.android.INTENT_ITEM_MAIN_FUNCTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- thanks to this, app appear in searching options -->
            <intent-filter>
                <action android:name="locus.api.android.INTENT_ITEM_SEARCH_LIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- thanks to this, app appear in points screen - tools button -->
            <intent-filter>
                <action android:name="locus.api.android.INTENT_ITEM_POINTS_SCREEN_TOOLS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- listen tasker edit action -->
        <activity
            android:name=".intent.edit.UpdateContainerEdit"
            android:label="@string/act_request_stats_sensors"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/AlertDialogTheme">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <activity
            android:name=".intent.edit.ActionTaskEdit"
            android:label="@string/act_exec_task"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/AlertDialogTheme">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <activity
            android:name=".intent.edit.NotImplementedActions"
            android:label="@string/act_more"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/AlertDialogTheme">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>


        <!-- listen tasker action fire -->
        <receiver
            android:name=".intent.receiver.TaskerActionFireReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
