<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="falcosc.locus.addon.tasker">


    <!-- Although many of these default to true, some users with modified ROMs have
        trouble seeing apps unless these attributes are explicitly set. -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="net.dinglisch.android.tasker.PERMISSION_RUN_TASKS" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission-sdk-23 android:name="android.permission.FOREGROUND_SERVICE" />

    <queries>
        <package android:name="net.dinglisch.android.taskerm" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AlertDialogTheme"
        android:supportsRtl="true">


        <!-- main activity contains an app description to tell why Locus Map sees this app -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".settings.SettingsActivity"
            android:label="Settings"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- run Tasker Task -->
        <activity
            android:name=".LocusRunTaskerActivity"
            android:label="Run task"
            android:icon="@mipmap/ic_tasker"
            android:theme="@style/AlertDialogThemeNoTitle"></activity>

        <activity-alias
            android:name="RunTasker_GET_LOCATION"
            android:label="Run task"
            android:icon="@mipmap/ic_tasker"
            android:theme="@style/AlertDialogTheme"
            android:targetActivity=".LocusRunTaskerActivity">
            <intent-filter>
                <action android:name="locus.api.android.INTENT_ITEM_GET_LOCATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="RunTasker_POINT_TOOLS"
            android:label="Run task"
            android:icon="@mipmap/ic_tasker"
            android:theme="@style/AlertDialogTheme"
            android:targetActivity=".LocusRunTaskerActivity">
            <intent-filter>
                <action android:name="locus.api.android.INTENT_ITEM_POINT_TOOLS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="RunTasker_TRACK_TOOLS"
            android:label="Run task"
            android:icon="@mipmap/ic_tasker"
            android:theme="@style/AlertDialogTheme"
            android:targetActivity=".LocusRunTaskerActivity">
            <intent-filter>
                <action android:name="locus.api.android.INTENT_ITEM_TRACK_TOOLS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="RunTasker_MAIN_FUNCTION"
            android:label="Run task"
            android:icon="@mipmap/ic_tasker"
            android:theme="@style/AlertDialogTheme"
            android:targetActivity=".LocusRunTaskerActivity">
            <intent-filter>
                <action android:name="locus.api.android.INTENT_ITEM_MAIN_FUNCTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="RunTasker_SEARCH_LIST"
            android:label="Run task"
            android:icon="@mipmap/ic_tasker"
            android:theme="@style/AlertDialogTheme"
            android:targetActivity=".LocusRunTaskerActivity">
            <intent-filter>
                <action android:name="locus.api.android.INTENT_ITEM_SEARCH_LIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="RunTasker_POINTS_SCREEN_TOOLS"
            android:label="Run task"
            android:icon="@mipmap/ic_tasker"
            android:theme="@style/AlertDialogTheme"
            android:targetActivity=".LocusRunTaskerActivity">
            <intent-filter>
                <action android:name="locus.api.android.INTENT_ITEM_POINTS_SCREEN_TOOLS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="RunTasker2_GET_LOCATION"
            android:label="Run other task"
            android:enabled="false"
            android:icon="@mipmap/ic_tasker"
            android:theme="@style/AlertDialogTheme"
            android:targetActivity=".LocusRunTaskerActivity">
            <intent-filter>
                <action android:name="locus.api.android.INTENT_ITEM_GET_LOCATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="RunTasker2_POINT_TOOLS"
            android:label="Run other task"
            android:enabled="false"
            android:icon="@mipmap/ic_tasker"
            android:theme="@style/AlertDialogTheme"
            android:targetActivity=".LocusRunTaskerActivity">
            <intent-filter>
                <action android:name="locus.api.android.INTENT_ITEM_POINT_TOOLS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="RunTasker2_TRACK_TOOLS"
            android:label="Run other task"
            android:enabled="false"
            android:icon="@mipmap/ic_tasker"
            android:theme="@style/AlertDialogTheme"
            android:targetActivity=".LocusRunTaskerActivity">
            <intent-filter>
                <action android:name="locus.api.android.INTENT_ITEM_TRACK_TOOLS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="RunTasker2_MAIN_FUNCTION"
            android:label="Run other task"
            android:enabled="false"
            android:icon="@mipmap/ic_tasker"
            android:theme="@style/AlertDialogTheme"
            android:targetActivity=".LocusRunTaskerActivity">
            <intent-filter>
                <action android:name="locus.api.android.INTENT_ITEM_MAIN_FUNCTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="RunTasker2_SEARCH_LIST"
            android:label="Run other task"
            android:enabled="false"
            android:icon="@mipmap/ic_tasker"
            android:theme="@style/AlertDialogTheme"
            android:targetActivity=".LocusRunTaskerActivity">
            <intent-filter>
                <action android:name="locus.api.android.INTENT_ITEM_SEARCH_LIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="RunTasker2_POINTS_SCREEN_TOOLS"
            android:label="Run other task"
            android:enabled="false"
            android:icon="@mipmap/ic_tasker"
            android:theme="@style/AlertDialogTheme"
            android:targetActivity=".LocusRunTaskerActivity">
            <intent-filter>
                <action android:name="locus.api.android.INTENT_ITEM_POINTS_SCREEN_TOOLS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <!-- run Tasker Task -->
        <activity
            android:name=".LocusGeoTagActivity"
            android:label="@string/geotag_title"
            android:icon="@mipmap/ic_tasker"
            android:theme="@style/AlertDialogTheme">

            <!-- thanks to this, app appear in sub-menu of every track -->
            <intent-filter>
                <action android:name="locus.api.android.INTENT_ITEM_TRACK_TOOLS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".GeotagPhotosService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>

        <!-- listen tasker edit action -->
        <activity
            android:name=".intent.edit.UpdateContainerEdit"
            android:label="@string/act_request_stats_sensors"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/AlertDialogTheme">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <activity
            android:name=".intent.edit.SelectVersion"
            android:label="@string/act_select_version"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/AlertDialogTheme">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <activity
            android:name=".intent.edit.LocusInfoEdit"
            android:label="@string/act_request_locus_info"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/AlertDialogTheme">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <activity
            android:name=".intent.edit.ActionTaskEdit"
            android:label="@string/act_exec_task"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/AlertDialogTheme">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <activity
            android:name=".intent.edit.NotImplementedActions"
            android:label="@string/act_more"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/AlertDialogTheme">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>


        <!-- listen tasker action fire -->
        <receiver
            android:name=".intent.receiver.TaskerActionFireReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
